.popup__field-register {
	max-width: 358px;
	width: 100%;
  font-family: "Inter", Arial, "Times New Roman", sans-serif;
	font-weight: 400;
	font-style: normal;
  color: #FFFFFF;
  line-height: 17px;
  font-size: 14px;
	border: none;
	border-bottom: 1px solid rgba(204, 204, 204, 1);
	background-color: black;
	display: flex;
	margin: 0 auto 30px;
	padding: 0;
	position: relative;
	outline: none;
}

.popup__field-register:last-of-type {
	margin-bottom: 0;
}

@media screen and (max-width: 320px) {
	.popup__field-register {
		max-width: 238px;
		line-height: 17px;
  	font-size: 14px;
	}
}
