.popup__close-icon {
	position: absolute;
	top: -40px;
	right: -40px;
	width: 32px;
	height: 32px;
	color: #FFF;
	background-color: transparent;
	cursor: pointer;
	border: none;
	padding: 0;
}

.popup__close-icon:hover {
	opacity: 60%;
}

@media screen and (max-width: 540px) {
	.popup__close-icon {
		top: -35px;
		right: 0;
		width: 20px;
		height: 20px;
	}
}