.footer__copyright {
	max-width: 318px;
  font-family: "Inter", Arial, "Times New Roman", sans-serif;
	font-weight: 400;
  color: rgba(84, 84, 84, 1);
	font-style: normal;
  line-height: 22px;
  font-size: 18px;
	margin: 0;
	padding: 0;
}

@media screen and (max-width: 320px) {
	.footer__copyright {
		line-height: 17px;
    font-size: 14px;
	}
}