.profile__paragraph {
  max-width: 100%;
  font-family: "Inter", Arial, "Times New Roman", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #FFF;
  line-height: 21,78px;
  font-size: 18px;
	margin: 0;
	padding-top: 16px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

@media screen and (max-width: 320px) {
	.profile__paragraph {
		max-width: 282px;
		padding-top: 14px;
		padding-bottom: 36px;
		line-height: 17px;
  	font-size: 14px;
		flex: 1;
		text-align: center;
	}
}