.header__log-off {
  padding: 0;
  height: 18px;
  border: none;
  background-color: transparent;
  color: #A9A9A9;
  font-size: 18px;
  line-height: 22px;
  transition: opacity 0.5s ease-in;
}

.header__log-off:hover {
  opacity: 0.8;
  cursor: pointer;
}