.profile__edit-avatar {
  width: 26px;
  height: 26px;
  background-image: url(../../../images/vector-avatar.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}