.popup__container {
	background-color: #fff;
	color: #000;
	max-width: 430px;
	width: 100%;
	border-radius: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	padding-bottom: 37px;
	transform: translate(-50%, -50%);
}

@media screen and (max-width: 540px) {
	.popup__container {
		max-width: 282px;
		padding-bottom: 25px;
	}
}
