.page__profile {
  display: flex;
	justify-content: space-between;
	margin-top: 40px;
}


@media screen and (max-width: 640px) {
	.page__profile {
		max-width: 600px;
		display: flex;
		flex-direction: column;
		margin: 40px auto 0;
	}
}

@media screen and (max-width: 320px) {
	.page__profile {
		max-width: 282px;
		margin-top: 38px;
	}
}