export default InfoTooltip
.popup__title-tooltip {
  max-width: 358px;
  margin: 32px auto 0;
}

@media screen and (max-width: 425px) {
  .popup__title-tooltip {
    font-size: 20px;
    line-height: 24px;
    margin: 40px auto 0;
  }
}