.page__elements {
	padding: 46px 0 0;
	margin: 0;
}

@media screen and (max-width: 768px) {
	.page__elements {
		justify-content: center;
	}
}

@media screen and (max-width: 320px) {
	.page__elements {
		padding-top: 36px;
	}
}