.popup__container-tooltip {
  max-width: 430px;
	width: 100%;
	border-radius: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	padding-top: 60px;
	transform: translate(-50%, -50%);
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
  
@media screen and (max-width: 425px) {
  .popup__container-tooltip {
    width: 280px;
    padding: 50px 18px 50px 18px;
  }
}

