.profile__edit-button {
	width: 24px;
	height: 24px;
	color: #FFF;
	background-color: transparent;
	border: 1px solid #FFF;
	cursor: pointer;
	border-radius: 2px;
	margin: auto;
	margin-left: 18px;
	padding: 0;
}

.profile__edit-button:hover {
	opacity: 60%;
}

@media screen and (max-width: 320px) {
	.profile__edit-button {
		max-width: 282px;
		width: 18px;
		height: 18px;
		border-radius: 0;
		margin-left: 0;
	}
}